https://*.tunguska.cc {
    tls {
        dns porkbun {
            api_key {{ porkbun_api_key }}
            api_secret_key {{ porkbun_secret_api_key }}
        }
    }

    redir https://{labels.2}.{{ inventory_hostname }}

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}

https://*.{{ inventory_hostname }} {
    tls {
        dns porkbun {
            api_key {{ porkbun_api_key }}
            api_secret_key {{ porkbun_secret_api_key }}
        }
    }

	import /config/*.caddy

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}